body {
  margin: 0;
  font: 14px "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img,
button,
input {
  border: none;
}
img:focus,
button:focus,
input:focus {
  outline: none;
}
.national-body-01 {
  background: url("../images/bg-body-e1.jpg") top center no-repeat;
}
.national-body-01 .national-container-01 {
  width: 1000px;
  margin: 0 auto;
  background: url("../images/bg-container-e1.jpg") top center no-repeat;
}
.national-body-01 .national-container-01 .national-header {
  text-align: right;
  padding: 20px 27px;
}
.national-body-01 .national-container-01 .national-header a {
  display: inline-block;
  font: 18px "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
  color: #fdebcc;
  padding: 9px 23px;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: 0 0;
}
.national-body-01 .national-container-01 .national-header a:hover {
  background-position: 0 -39px;
}
.national-body-01 .national-container-01 .national-btn-groups {
  font-size: 0;
  text-align: center;
}
.national-body-01 .national-container-01 .national-btn-groups a {
  display: inline-block;
  text-indent: -99999px;
  width: 170px;
  height: 58px;
  margin: 190px 22px 20px 22px;
  background: url("../images/sprite-national.png") no-repeat;
}
.national-body-01 .national-container-01 .national-btn-groups a:first-child {
  background-position: 0 -76px;
}
.national-body-01 .national-container-01 .national-btn-groups a:first-child:hover {
  background-position: 0 -133px;
}
.national-body-01 .national-container-01 .national-btn-groups a:first-child + a {
  background-position: 0 -190px;
}
.national-body-01 .national-container-01 .national-btn-groups a:first-child + a:hover {
  background-position: 0 -247px;
}
.national-body-01 .national-container-01 .national-events-01 {
  position: relative;
  padding: 748px 100px 0 210px;
}
.national-body-01 .national-container-01 .national-events-01:before {
  content: '';
  position: absolute;
  width: 360px;
  height: 130px;
  background: url("../images/event.png") no-repeat;
  background-position: 0 0;
  top: 0;
  left: 50%;
  margin-left: -180px;
}
.national-body-01 .national-container-01 .national-events-01 .btn-wish {
  display: block;
  text-indent: -9999px;
  width: 178px;
  height: 70px;
  margin: 0 auto;
  background: url("../images/sprite-national.png") no-repeat;
  background-position: 0 -306px;
}
.national-body-01 .national-container-01 .national-events-01 .btn-wish.disabled {
  opacity: .5;
  filter: alpha(opacity=50);
}
.national-body-01 .national-container-01 .national-events-01 p:before,
.national-body-01 .national-container-01 .national-events-01 ul:before,
.national-body-01 .national-container-01 .national-events-01 li:before {
  content: attr(data-before);
}
.national-body-01 .national-container-01 .national-events-01 p {
  font: 12px simsun, Arial, Helvetica, sans-serif, "Microsoft YaHei";
  color: #326814;
}
.national-body-01 .national-container-01 .national-events-01 p:before,
.national-body-01 .national-container-01 .national-events-01 ul:before {
  font: 20px "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
  color: #ec6200;
}
.national-body-01 .national-container-01 .national-events-01 ul {
  position: relative;
  padding-left: 98px;
}
.national-body-01 .national-container-01 .national-events-01 ul:before {
  left: 0;
  top: 0;
  position: absolute;
}
.national-body-01 .national-container-01 .national-events-01 ul li {
  position: relative;
  padding-left: 20px;
}
.national-body-01 .national-container-01 .national-events-01 ul li:before {
  position: absolute;
  left: 0;
  top: 4px;
  font: 12px simsun, Arial, Helvetica, sans-serif, "Microsoft YaHei";
  color: #fedca9;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #326814;
  text-align: center;
  margin-right: 6px;
}
.national-body-01 .national-container-01 .national-events-01 ul li span {
  font: 12px simsun, Arial, Helvetica, sans-serif, "Microsoft YaHei";
  color: #326814;
  line-height: 22px;
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.national-body-02 {
  background: url("../images/bg-body-e2.jpg") top center no-repeat;
}
.national-body-02 .national-container-02 {
  width: 1000px;
  margin: 0 auto;
  background: url("../images/bg-container-e2.jpg") top center no-repeat;
  position: relative;
  padding: 80px 0;
}
.national-body-02 .national-container-02:before {
  content: '';
  position: absolute;
  width: 360px;
  height: 130px;
  top: 0;
  left: 50%;
  margin-left: -180px;
  background: url("../images/event.png") no-repeat;
  background-position: 0 -140px;
}
.national-body-02 .national-container-02 .national-events-02:before,
.national-body-02 .national-container-02 .national-events-02:after {
  content: '';
  display: block;
  margin: 0 auto;
  background: url("../images/box.png") no-repeat;
}
.national-body-02 .national-container-02 .national-events-02:before {
  width: 985px;
  height: 246px;
  background-position: 0 0;
}
.national-body-02 .national-container-02 .national-events-02:after {
  width: 985px;
  height: 38px;
  background-position: 0 -247px;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel {
  width: 965px;
  background-color: #fed385;
  margin: 0 auto;
  padding: 0 193px;
  overflow: hidden;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event:before,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event:before {
  content: '';
  display: block;
  width: 256px;
  height: 44px;
  background: url("../images/event.png") no-repeat;
  margin: 50px auto;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-rule p:before,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-rule p:before,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-rule ul:before,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-rule ul:before,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-rule li:before,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-rule li:before {
  content: attr(data-before);
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-rule p,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-rule p {
  font: 12px simsun, Arial, Helvetica, sans-serif, "Microsoft YaHei";
  color: #326814;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-rule p:before,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-rule p:before,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-rule ul:before,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-rule ul:before {
  font: 20px "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
  color: #ec6200;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-rule ul,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-rule ul {
  position: relative;
  padding-left: 98px;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-rule ul:before,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-rule ul:before {
  left: 0;
  top: 0;
  position: absolute;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-rule ul li,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-rule ul li {
  position: relative;
  padding-left: 20px;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-rule ul li:before,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-rule ul li:before {
  position: absolute;
  left: 0;
  top: 4px;
  font: 12px simsun, Arial, Helvetica, sans-serif, "Microsoft YaHei";
  color: #fedca9;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #326814;
  text-align: center;
  margin-right: 6px;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-rule ul li span,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-rule ul li span {
  font: 12px simsun, Arial, Helvetica, sans-serif, "Microsoft YaHei";
  color: #326814;
  line-height: 22px;
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-price-box,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-price-box {
  margin: 25px auto;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-price-box ul li,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-price-box ul li {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-top: -1px;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-price-box ul li span,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-price-box ul li span {
  display: table-cell;
  width: 50%;
  text-align: center;
  border: 1px solid #f9b438;
  font-size: 12px;
  color: #ec6200;
  padding: 15px;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event .national-price-box ul li:first-child span,
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event .national-price-box ul li:first-child span {
  background-color: #fecc73;
  font-size: 18px;
  color: #ec6200;
  font-weight: bold;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-first-event:before {
  background-position: 0 -280px;
}
.national-body-02 .national-container-02 .national-events-02 .national-events-panel .national-second-event:before {
  background-position: 0 -324px;
}
