body {
  margin: 0;
  background-color: #000;
}
a,
img,
input,
button {
  border: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:focus,
img:focus {
  outline: none;
}
.topBar .logoC {
  height: 35px;
}
header {
  display: block;
  position: relative;
  z-index: 3;
  background: url("../images/bg-header.png") top center no-repeat;
}
header:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
header .sgqyz-common-nav {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
header .sgqyz-common-nav:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
  height: 0;
}
header .sgqyz-common-nav ul.nav,
header .sgqyz-common-nav ul.subscription {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
header .sgqyz-common-nav ul.nav li {
  display: inline-block;
  vertical-align: middle;
  margin: 14px 0;
}
header .sgqyz-common-nav ul.nav li a {
  display: block;
  font: 16px 'SimHei';
  color: #bcbcbb;
  padding: 6px 47px;
  border-left: 1px dashed #b1b2b5;
  position: relative;
}
header .sgqyz-common-nav ul.nav li a:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
}
header .sgqyz-common-nav ul.nav li:hover a,
header .sgqyz-common-nav ul.nav li.active a {
  color: #dfcea5;
}
header .sgqyz-common-nav ul.nav li:first-child a {
  border-left: 0;
}
header .sgqyz-common-nav ul.nav li:first-child + li + li + li + li + li + li a {
  padding-right: 0;
}
header .sgqyz-common-nav ul.subscription {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
header .sgqyz-common-nav ul.subscription li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  width: 42px;
  height: 42px;
  border-radius: 50% 50% 0 0;
}
header .sgqyz-common-nav ul.subscription li a {
  font-size: 0;
  display: block;
  margin: 0 auto;
  height: 35px;
  position: relative;
  background: url("../images/sprite-sgqyz-pc.png") no-repeat;
}
header .sgqyz-common-nav ul.subscription li:first-child a {
  width: 35px;
  background-position: 0 0;
}
header .sgqyz-common-nav ul.subscription li:first-child .wechat-wrapper {
  display: none;
  width: 173px;
  height: 73px;
  padding: 5px;
  position: absolute;
  left: -20px;
  top: 42px;
  border-radius: 10px;
}
header .sgqyz-common-nav ul.subscription li:first-child .wechat-wrapper .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
header .sgqyz-common-nav ul.subscription li:first-child .wechat-wrapper .mask:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  opacity: .5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
header .sgqyz-common-nav ul.subscription li:first-child .wechat-wrapper .mask img {
  margin: 3px;
  position: relative;
  z-index: 11;
  border-radius: 8px;
}
header .sgqyz-common-nav ul.subscription li:first-child .wechat-wrapper:before,
header .sgqyz-common-nav ul.subscription li:first-child .wechat-wrapper:after {
  position: absolute;
  left: 75px;
  font-family: SimHei;
  color: #282634;
  z-index: 11;
}
header .sgqyz-common-nav ul.subscription li:first-child .wechat-wrapper:before {
  content: attr(data-before);
  font-size: 18px;
  top: 8px;
}
header .sgqyz-common-nav ul.subscription li:first-child .wechat-wrapper:after {
  content: attr(data-after);
  width: 95px;
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 14px;
  top: 35px;
  line-height: 18px;
  letter-spacing: -1px;
}
header .sgqyz-common-nav ul.subscription li:first-child:hover:before {
  content: '';
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50% 50% 0 0;
  background-color: #fff;
  opacity: .5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
header .sgqyz-common-nav ul.subscription li:first-child:hover .wechat-wrapper {
  display: block;
}
header .sgqyz-common-nav ul.subscription li:first-child + li a {
  width: 36px;
  background-position: -36px 0;
}
header .sgqyz-common-nav ul.subscription li:first-child + li .webo-wrapper {
  display: none;
  width: 173px;
  height: 72px;
  padding: 5px;
  position: absolute;
  left: -62px;
  top: 42px;
  border-radius: 8px;
}
header .sgqyz-common-nav ul.subscription li:first-child + li .webo-wrapper .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
header .sgqyz-common-nav ul.subscription li:first-child + li .webo-wrapper .mask:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  opacity: .5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
header .sgqyz-common-nav ul.subscription li:first-child + li .webo-wrapper .mask img {
  margin: 3px;
  position: relative;
  z-index: 11;
  border-radius: 10px;
}
header .sgqyz-common-nav ul.subscription li:first-child + li .webo-wrapper:before,
header .sgqyz-common-nav ul.subscription li:first-child + li .webo-wrapper:after {
  position: absolute;
  left: 75px;
  font-family: SimHei;
  color: #282634;
  z-index: 11;
}
header .sgqyz-common-nav ul.subscription li:first-child + li .webo-wrapper:before {
  content: attr(data-before);
  font-size: 18px;
  top: 8px;
}
header .sgqyz-common-nav ul.subscription li:first-child + li .webo-wrapper:after {
  content: attr(data-after);
  width: 95px;
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 14px;
  top: 35px;
  line-height: 18px;
  letter-spacing: -1px;
}
header .sgqyz-common-nav ul.subscription li:first-child + li:hover:before {
  content: '';
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50% 50% 0 0;
  background-color: #fff;
  opacity: .5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
header .sgqyz-common-nav ul.subscription li:first-child + li:hover .webo-wrapper {
  display: block;
}
.logo-wrapper {
  position: relative;
  width: 1200px;
  height: 210px;
  margin: 0 auto;
  overflow: hidden;
}
.logo-wrapper .logo {
  position: absolute;
  font-size: 0;
  display: block;
  width: 235px;
  height: 125px;
  top: 85px;
  left: 14px;
}
.bg-carousel-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  height: 780px;
  z-index: 2;
  background-color: #1b1b23;
}
.bg-carousel-wrapper .carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.bg-carousel-wrapper .carousel ul {
  position: relative;
}
.bg-carousel-wrapper .carousel ul li {
  display: none;
  height: 780px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.bg-carousel-wrapper .carousel ul li a {
  font-size: 0;
  display: block;
  width: 100%;
  height: 780px;
}
.bg-carousel-wrapper .carousel ul li img {
  max-width: 100%;
}
.bg-carousel-wrapper .carousel ul li:first-child {
  display: block;
}
.bg-carousel-pager {
  height: 33px;
}
.bg-carousel-pager ul {
  text-align: right;
}
.bg-carousel-pager ul li {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  border-radius: 50%;
  background-color: #383838;
  -webkit-transition: all .4s ease .2s;
  -moz-transition: all .4s ease .2s;
  -ms-transition: all .4s ease .2s;
  -o-transition: all .4s ease .2s;
  transition: all .4s ease .2s;
}
.bg-carousel-pager ul li a {
  display: block;
  width: 15px;
  height: 15px;
  font-size: 0;
  border-radius: 50%;
}
.bg-carousel-pager ul li:hover,
.bg-carousel-pager ul li.active {
  width: 35px;
  background-color: #c1a465;
  border-radius: 10px;
}
.bg-carousel-pager ul li:hover a,
.bg-carousel-pager ul li.active a {
  width: 35px;
  border-radius: 10px;
}
.bg-carousel-pager {
  height: 33px;
}
.bg-carousel-pager ul {
  text-align: right;
}
.bg-carousel-pager ul li {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  border-radius: 50%;
  background-color: #383838;
  -webkit-transition: all .4s ease .2s;
  -moz-transition: all .4s ease .2s;
  -ms-transition: all .4s ease .2s;
  -o-transition: all .4s ease .2s;
  transition: all .4s ease .2s;
}
.bg-carousel-pager ul li a {
  display: block;
  width: 15px;
  height: 15px;
  font-size: 0;
  border-radius: 50%;
}
.bg-carousel-pager ul li:hover,
.bg-carousel-pager ul li.active {
  width: 35px;
  background-color: #c1a465;
  border-radius: 10px;
}
.bg-carousel-pager ul li:hover a,
.bg-carousel-pager ul li.active a {
  width: 35px;
  border-radius: 10px;
}
.sgqyz-recharge-body {
  background: #000 url("../images/bg-body-01.jpg") no-repeat;
  background-position: center 718px;
}
.sgqyz-recharge-body .sgqyz-recharge-container {
  width: 1200px;
  margin: 0 auto;
  padding: 446px 0;
  position: relative;
  z-index: 11;
}
.sgqyz-recharge-body .sgqyz-recharge-container .payBox-wrapper {
  position: relative;
  width: 866px;
  min-height: 654px;
  margin: 0 auto;
  border: 8px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .payBox-wrapper:before,
.sgqyz-recharge-body .sgqyz-recharge-container .payBox-wrapper:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  top: 1px;
  z-index: 1;
  background: url("../images/sprite-sgqyz-pc.png") no-repeat;
}
.sgqyz-recharge-body .sgqyz-recharge-container .payBox-wrapper:before {
  left: 1px;
  background-position: -130px -1070px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .payBox-wrapper:after {
  right: 1px;
  background-position: -163px -1070px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox {
  width: 850px;
  min-height: 654px;
  padding: 15px 17px;
  position: relative;
  border: 1px solid #515050;
  background-color: #2e2e2e;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox:before,
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: 1px;
  background: url("../images/sprite-sgqyz-pc.png") no-repeat;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox:before {
  left: 1px;
  background-position: -130px -1105px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox:after {
  right: 1px;
  background-position: -163px -1105px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payTabs {
  position: relative;
  z-index: 1;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payTabs ul {
  font-size: 0;
  padding: 0 194px;
  margin-bottom: 17px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payTabs ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  background: url("../images/sprite-sgqyz-pc.png") no-repeat;
  background-position: 0 -1070px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payTabs ul li a {
  display: block;
  width: 129px;
  height: 34px;
  text-align: center;
  font: 14px 'SimHei';
  line-height: 34px;
  color: #9d9ea2;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payTabs ul li:hover,
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payTabs ul li.cur {
  background-position: 0 -1105px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payTabs ul li:hover a,
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payTabs ul li.cur a {
  color: #d4a75f;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem {
  position: relative;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem:after {
  content: '';
  display: table;
  clear: both;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper {
  float: left;
  background-color: #373737;
  border: 1px solid #57585b;
  position: relative;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper:before,
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 6px;
  top: 0;
  background: url("../images/sprite-sgqyz-pc.png") no-repeat;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper:before {
  left: 1px;
  background-position: -175px -52px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper:after {
  right: 1px;
  background-position: -181px -52px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu {
  position: relative;
  height: 548px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu:before,
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 6px;
  bottom: 0;
  background: url("../images/sprite-sgqyz-pc.png") no-repeat;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu:before {
  left: 1px;
  background-position: -175px -59px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu:after {
  right: 1px;
  background-position: -181px -59px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu ul {
  padding: 7px 0;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu ul li {
  width: 167px;
  height: 42px;
  background-color: #2f2d2d;
  border: 1px solid #57585b;
  margin: 6px 5px;
  position: relative;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu ul li:after {
  content: '';
  position: absolute;
  width: 38px;
  height: 19px;
  right: 0;
  top: 50%;
  margin-top: -10px;
  background: url("../images/sprite-sgqyz-pc.png") no-repeat;
  background-position: -270px -381px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu ul li a {
  display: block;
  text-align: center;
  font: 13px 'SimHei';
  line-height: 40px;
  padding-right: 20px;
  color: #cacaca;
  text-indent: 22px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu ul li img {
  position: absolute;
  left: 22px;
  top: 10px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu ul li:hover,
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu ul li.cur {
  background: url("../images/sprite-sgqyz-pc.png") no-repeat;
  background-position: 0 -1141px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu ul li:hover:after,
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payMenu-wrapper .sgqyz-payMenu ul li.cur:after {
  background: none;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper {
  float: right;
  width: 623px;
  background-color: #373737;
  border: 1px solid #57585b;
  position: relative;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper:before,
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 6px;
  top: 0;
  background: url("../images/sprite-sgqyz-pc.png") no-repeat;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper:before {
  left: 1px;
  background-position: -175px -52px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper:after {
  right: 1px;
  background-position: -181px -52px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon {
  padding: 15px 20px;
  position: relative;
  min-height: 548px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon:before,
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 6px;
  bottom: 0;
  background: url("../images/sprite-sgqyz-pc.png") no-repeat;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon:before {
  left: 1px;
  background-position: -175px -59px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon:after {
  right: 1px;
  background-position: -181px -59px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-title h3 {
  font: 23px 'SimHei';
  color: #cacaca;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content {
  height: 518px;
  position: relative;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content:after {
  content: '';
  position: absolute;
  width: 308px;
  height: 74px;
  background: url("../images/bg-recharge-shading.jpg") no-repeat;
  bottom: -15px;
  left: 50%;
  margin-left: -154px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .errorTip {
  display: none;
  background: none;
  font: 12px 'Microsoft YaHei';
  color: #ed2a2a;
  padding-left: 0;
  margin-bottom: 30px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item {
  padding: 20px 0;
  position: relative;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item:before {
  content: attr(data-before);
  font: 14px 'Microsoft YaHei';
  color: #cacaca;
  line-height: 27px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item span {
  font: 14px 'SimHei';
  color: #cacaca;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item ul {
  width: 505px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item ul li {
  display: inline-block;
  vertical-align: top;
  font: 14px 'Microsoft YaHei';
  color: #000;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.areas ul {
  width: 205px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.areas ul li {
  margin-right: 20px;
  color: #cacaca;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.areas ul li:before {
  line-height: 27px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.areas ul li select {
  width: 59px;
  height: 27px;
  background-color: #fff;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.areas ul li select:focus {
  outline: none;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.areas a {
  display: inline-block;
  width: 78px;
  height: 28px;
  text-align: center;
  font: 14px 'Microsoft YaHei';
  color: #fff;
  line-height: 28px;
  border: 1px solid #478309;
  border-radius: 2px;
  background: -moz-linear-gradient(top, #8ad14d, #54b83a);
  background: -webkit-gradient(linear, top, from(#8ad14d), to(#54b83a));
  background: -webkit-linear-gradient(top, #8ad14d, #54b83a);
  background: -o-linear-gradient(top, #8ad14d, #54b83a);
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.areas a:hover {
  background: -moz-linear-gradient(top, #54b83a, #54b83a);
  background: -webkit-gradient(linear, top, from(#54b83a), to(#54b83a));
  background: -webkit-linear-gradient(top, #54b83a, #54b83a);
  background: -o-linear-gradient(top, #54b83a, #54b83a);
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.servers ul li {
  margin-right: 20px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.servers ul li select {
  width: 120px;
  height: 27px;
  background-color: #fff;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.servers ul li select:focus {
  outline: none;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.money {
  padding-bottom: 0;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.money ul li {
  border: 1px solid #d7d7d7;
  background-color: #f1f1f1;
  margin-right: 10px;
  margin-bottom: 16px;
  width: 108px;
  height: 29px;
  text-align: center;
  position: relative;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.money ul li a {
  display: block;
  line-height: 25px;
  color: #000;
  border: 1px solid #f1f1f1;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.money ul li input {
  width: 50px;
  height: 19px;
  margin: 4px 3px;
  text-align: center;
  font: 12px 'Microsoft YaHei';
  line-height: 19px;
  background-color: #d2cdcd;
  border: 1px solid #98999d;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.money ul li input:focus {
  outline: none;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.money ul li.selected {
  border-color: #078807;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.money ul li.selected a {
  border-color: #078807;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.money ul li.selected:after {
  content: '';
  position: absolute;
  width: 11px;
  height: 8px;
  right: 0;
  bottom: 0;
  background: url("../images/sprite-sgqyz-pc.png") no-repeat;
  background-position: -270px -400px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.money ul li.err-selected {
  border: 2px solid #961d08;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item.money ul li.err-selected:after {
  content: '';
  position: absolute;
  width: 11px;
  height: 8px;
  right: 0;
  bottom: 0;
  background: url("../images/sprite-sgqyz-pc.png") no-repeat;
  background-position: -283px -400px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .content-item .errorTip {
  position: absolute;
  padding-left: 74px;
  bottom: -8px;
  margin: 0;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .sgqyz-RechargeBtn {
  display: block;
  margin: 0 auto;
  width: 141px;
  height: 43px;
  text-align: center;
  font: 25px 'Microsoft YaHei';
  color: #fff;
  line-height: 43px;
  border: 1px solid #478309;
  border-radius: 2px;
  background: -moz-linear-gradient(top, #8ad14d, #54b83a);
  background: -webkit-gradient(linear, top, from(#8ad14d), to(#54b83a));
  background: -webkit-linear-gradient(top, #8ad14d, #54b83a);
  background: -o-linear-gradient(top, #8ad14d, #54b83a);
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .sgqyz-RechargeBtn:hover {
  background: -moz-linear-gradient(top, #54b83a, #54b83a);
  background: -webkit-gradient(linear, top, from(#54b83a), to(#54b83a));
  background: -webkit-linear-gradient(top, #54b83a, #54b83a);
  background: -o-linear-gradient(top, #54b83a, #54b83a);
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .record-table {
  position: relative;
  width: 580px;
  height: 474px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .record-table:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: url("../images/bg-line.png") no-repeat;
  margin-bottom: 2px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .record-table table {
  width: 100%;
  text-align: center;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .record-table table thead {
  background-color: #3d3d3d;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .record-table table thead tr th {
  text-align: center;
  font: 15px 'SimHei';
  color: #cacaca;
  line-height: 30px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .record-table table tbody tr {
  border-bottom: 1px dashed #6f6f6f;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .record-table table tbody tr td {
  font: 13px 'SimHei';
  color: #cacaca;
  line-height: 20px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .record-table .errorTip {
  display: none;
  text-align: center;
  font: 16px 'SimHei';
  color: #cacaca;
  margin: 150px 0;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .record-page {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 100px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .record-page ul {
  font-size: 0;
  text-align: center;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .record-page ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .record-page ul li a {
  display: block;
  padding: 2px 5px;
  background-color: #cacaca;
  font: 14px 'SimHei';
  color: #000;
}
.sgqyz-recharge-body .sgqyz-recharge-container .sgqyz-payBox .sgqyz-payItem .payCon-wrapper .sgqyz-payCon .sgqyz-content .record-page ul li.active a {
  background-color: transparent;
  font-weight: bold;
}